<div class="selection display-flex-row">
  <div class="selected display-flex-row">
    <div class="selected-rows display-flex-column">
      <span>Lingua</span>
      <div class="display-flex-row">
        <div class="country">
          <img
            src="../../assets/homePage/footer/bottomFooter/flags/it.png"
            alt="italian-flag"
            class="selection-flag"
          />
          <span class="country-name">Italia</span>
        </div>
        <img
          src="../../assets/homePage/footer/bottomFooter/down-arrow.png"
          alt="down arrow"
          id="down-arrow"
        />
      </div>
    </div>
  </div>
  <div class="selection-container"></div>
  <div class="onclick-selection">
    <div class="flags">
      <div
        class="flag"
        id="en"
        data-img="../../assets/homePage/footer/bottomFooter/flags/us.png"
        data-span="United States"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/us.png"
          alt="us"
        />
        <span>United States</span>
      </div>
      <div
        class="flag"
        id="ru"
        data-img="../../assets/homePage/footer/bottomFooter/flags/ru.png"
        data-span="Россия"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/ru.png"
          alt="us"
        />
        <span>Россия</span>
      </div>
      <div
        class="flag"
        id="no"
        data-img="../../assets/homePage/footer/bottomFooter/flags/nor.png"
        data-span="Norge"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/nor.png"
          alt="us"
        />
        <span>Norge</span>
      </div>
      <div
        class="flag"
        id="en"
        data-img="../../assets/homePage/footer/bottomFooter/flags/uk.png"
        data-span="United Kingdom"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/uk.png"
          alt="us"
        />
        <span>United Kingdom</span>
      </div>
      <div
        class="flag"
        id="es"
        data-img="../../assets/homePage/footer/bottomFooter/flags/es.png"
        data-span="España"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/es.png"
          alt="us"
        />
        <span>España</span>
      </div>
      <div
        class="flag"
        id="sv"
        data-img="../../assets/homePage/footer/bottomFooter/flags/sw.png"
        data-span="Sverige"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/sw.png"
          alt="us"
        />
        <span>Sverige</span>
      </div>
      <div
        class="flag"
        id="en"
        data-img="../../assets/homePage/footer/bottomFooter/flags/aus.png"
        data-span="Australia"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/aus.png"
          alt="us"
        />
        <span>Australia</span>
      </div>
      <div
        class="flag"
        id="cs"
        data-img="../../assets/homePage/footer/bottomFooter/flags/ck.png"
        data-span="Česká republika"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/ck.png"
          alt="us"
        />
        <span>Česká republika</span>
      </div>
      <div class="flag" id="zh-CN" data-img="" data-span="中国">
        <span>中国</span>
      </div>
      <div
        class="flag"
        id="fr"
        data-img="../../assets/homePage/footer/bottomFooter/flags/fr.png"
        data-span="France"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/fr.png"
          alt="us"
        />
        <span>France</span>
      </div>
      <div
        class="flag"
        id="en"
        data-img="../../assets/homePage/footer/bottomFooter/flags/ca.png"
        data-span="Canada(En)"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/ca.png"
          alt="us"
        />
        <span>Canada(En)</span>
      </div>
      <div
        class="flag"
        id="ko"
        data-img="../../assets/homePage/footer/bottomFooter/flags/kr.png"
        data-span="대한민국"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/kr.png"
          alt="us"
        />
        <span>대한민국</span>
      </div>
      <div
        class="flag"
        id="de"
        data-img="../../assets/homePage/footer/bottomFooter/flags/de.png"
        data-span="Deustschland"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/de.png"
          alt="us"
        />
        <span>Deustschland</span>
      </div>
      <div
        class="flag"
        id="fr"
        data-img="../../assets/homePage/footer/bottomFooter/flags/ca.png"
        data-span="Canada(Fr)"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/ca.png"
          alt="us"
        />
        <span>Canada(Fr)</span>
      </div>
      <div class="flag" id="zh-TW" data-img="" data-span="繁體中文">
        <span>繁體中文</span>
      </div>
      <div
        class="flag"
        id="it"
        data-img="../../assets/homePage/footer/bottomFooter/flags/it.png"
        data-span="Italia"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/it.png"
          alt="us"
        />
        <span>Italia</span>
        <img
          src="../../assets/homePage/footer/bottomFooter/check.png"
          alt="check"
          class="check"
          id="default-check"
        />
      </div>
      <div
        class="flag"
        id="da"
        data-img="../../assets/homePage/footer/bottomFooter/flags/dan.png"
        data-span="Danmark"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/dan.png"
          alt="us"
        />
        <span>Danmark</span>
      </div>
      <div
        class="flag"
        id="ja"
        data-img="../../assets/homePage/footer/bottomFooter/flags/jp.png"
        data-span="日本"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/jp.png"
          alt="us"
        />
        <span>日本</span>
      </div>
      <div
        class="flag"
        id="pl"
        data-img="../../assets/homePage/footer/bottomFooter/flags/pl.png"
        data-span="Polska"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/pl.png"
          alt="us"
        />
        <span>Polska</span>
      </div>
      <div
        class="flag"
        id="pt"
        data-img="../../assets/homePage/footer/bottomFooter/flags/bl.png"
        data-span="Brasil"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/bl.png"
          alt="us"
        />
        <span>Brasil</span>
      </div>
      <div
        class="flag"
        id="fi"
        data-img="../../assets/homePage/footer/bottomFooter/flags/fin.png"
        data-span="Suomi"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/fin.png"
          alt="us"
        />
        <span>Suomi</span>
      </div>
      <div
        class="flag"
        id="es"
        data-img="../../assets/homePage/footer/bottomFooter/flags/mex.png"
        data-span="México"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/mex.png"
          alt="us"
        />
        <span>México</span>
      </div>
      <div
        class="flag"
        id="nl"
        data-img="../../assets/homePage/footer/bottomFooter/flags/ne.png"
        data-span="Nederland"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/ne.png"
          alt="us"
        />
        <span>Nederland</span>
      </div>
      <div
        class="flag"
        id="tk"
        data-img="../../assets/homePage/footer/bottomFooter/flags/tr.png"
        data-span="Türkiye"
      >
        <img
          src="../../assets/homePage/footer/bottomFooter/flags/tr.png"
          alt="us"
        />
        <span>Türkiye</span>
      </div>
    </div>
  </div>
</div>
