<div class="selection-price display-flex-row">
  <div class="selected-price display-flex-row">
    <div class="selected-rows-price display-flex-column">
      <span>Prezzi Regionali</span>
      <div class="display-flex-row">
        <div class="country-price">
          <span class="country-name-price">Italia</span>
        </div>
        <img
          src="../../assets/homePage/footer/bottomFooter/down-arrow.png"
          alt="down arrow"
          id="down-arrow-price"
        />
      </div>
    </div>
  </div>
  <div class="selection-container-price"></div>
  <div class="onclick-selection-price">
    <div class="flags-price">
      <span
        >Austria<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Belgio<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Croazia<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Repubblica Ceca<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Danimarca<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Estonia<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Finlandia<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Francia<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Germania<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Grecia<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Ungheria<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Islanda<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Irlanda<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Italia<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Lettonia<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Liechtenstein<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Lituania<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Lussemburgo<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Malta<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Paesi Bassi<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Norvegia<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Polonia<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Portogallo<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Romania<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Slovenia<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Spagna<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Svezia<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
      <span
        >Svizzera<img
          width="18px"
          src="../../assets/homePage/footer/bottomFooter/check.png"
      /></span>
    </div>
  </div>
</div>
