<aside>
  <div class="close" (click)="onclickAsideClose()">
    <div class="close-x">
      <img src="../../../assets/homePage/aside/icons8-close.png" alt="" />
      <img src="../../../assets/homePage/aside/icons8-close-red.png" alt="" />
    </div>
    <a href="https://www.ea.com/games"><h4>Tutti i giochi</h4></a>
  </div>
  <div class="play">
    <a
      href="https://www.ea.com/it-it/ea-play-live"
      id="asidePlay"
      class="backImgBehaviour gradientAsidePlay"
    >
      <div class="titleAside">
        <img
          src="../../../assets/homePage/aside/ea-play-mono-logo-svg.svg"
          alt=""
        />
      </div>
    </a>
    <a
      href="https://www.ea.com/it-it/games/fifa/fifa-22"
      class="backImgBehaviour FIFA22MainBody"
    >
      <div class="titleAside">
        <img
          src="../../../assets/homePage/aside/fifa22-mono-logo_aside.svg"
          alt=""
        />
      </div>
    </a>
    <a
      href="https://www.ea.com/it-it/games/madden-nfl/madden-nfl-22"
      class="backImgBehaviour madden22MainBody"
    >
      <div class="titleAside">
        <img
          src="../../../assets/homePage/aside/madden-nfl-22-mono-logo.svg"
          alt=""
        />
      </div>
    </a>
    <a
      href="https://www.ea.com/it-it/games/battlefield/battlefield-2042"
      class="backImgBehaviour battleFieldMainBody"
    >
      <div class="titleAside">
        <img
          src="../../../assets/homePage/aside/battlefield-2042-mono-logo_aside.svg"
          alt=""
        />
      </div>
    </a>
    <a
      href="https://www.ea.com/games/apex-legends"
      class="backImgBehaviour ApexLegendsMainBody"
    >
      <div class="titleAside">
        <img
          src="../../../assets/homePage/aside/apex-legends-mono-logo_aside.svg"
          alt=""
        />
      </div>
    </a>
    <a
      href="https://www.ea.com/it-it/games/the-sims/the-sims-4"
      class="backImgBehaviour theSims4MainBody"
    >
      <div class="titleAside">
        <img
          src="../../../assets/homePage/aside/the-sims-4-mono-logo_aside.png"
          alt=""
        />
      </div>
    </a>
    <a
      href="https://www.ea.com/games/it-takes-two"
      class="backImgBehaviour itTakesTwoMainBody"
    >
      <div class="titleAside">
        <img src="../../../assets/homePage/aside/itt-logo.svg" alt="" />
      </div>
    </a>
  </div>
</aside>
