<section class="prefooter-hero">
  <div class="banner-hero-container">
    <div class="banner-hero display-flex-row">
      <div class="banner-hero-content">
        <img
          src="../../assets/homePage/footer/preFooter/ea-play-logo-coral-hero-logo-small.svg"
          alt="ea logo play"
        />
        <p class="banner-subtitle">
          Non limitarti al gioco. Gioca al massimo. Sblocca ricompense
          esclusive, contenuti per i soli membri e una libreria dei migliori
          titoli.
        </p>
        <a class="mainButton" href="https://www.ea.com/it-it/games">
          <span>Iscriviti subito</span>
          <div class="divMainButton"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="parental-control display-flex-row">
    <div class="parental-control-content display-flex-row">
      <div class="parental-control-title">
        <h2>Genitori: il controllo dei videogiochi è nelle vostre mani.</h2>
      </div>
      <a class="mainButton" href="https://www.ea.com/it-it/games">
        <span>Scopri di più</span>
        <div class="divMainButton"></div>
      </a>
    </div>
  </div>
</section>
