@import "../../../../shared/components/footer/footer.component.scss"; //necessary to import tipography

.prefooter-hero {
  width: 100%;
  height: 55rem;
  margin-top: 2.5rem;
  background: url("../../../../../assets/homePage/footer/preFooter/hero-medium-console-7x2-xl.jpg.adapt.crop7x2.1920w.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.banner-hero-container {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #16161646, transparent);
  background-size: 100% 100%;
  padding: 0rem 8rem 0rem 0;
}
.banner-hero {
  width: 100%;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.banner-hero-content {
  display: flex;
  flex-direction: column;
  flex-basis: 1140px;
  width: 70%;
  row-gap: 2rem;
  height: 40%;
  justify-content: space-between;
  align-items: flex-start;
}
.banner-hero-content > .mainButton,
.banner-hero-content .divMainButton {
  border-color: white;
  color: white;
}
.banner-hero-content > img {
  width: 240px;
}
.banner-hero-content > p {
  width: 60%;
  line-height: 2rem;
}
.parental-control {
  width: 100%;
  height: 15%;
  background-color: #6fb0d6;
  justify-content: center;
  padding: 0rem 8rem 0rem 0;
}
.parental-control-content {
  flex-basis: 1140px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  column-gap: 1rem;
}
.parental-control-title {
  width: 55%;
}
.parental-control-title > h2 {
  font-size: 20px;
  color: #161616;
}

//buttons style (start)
.mainButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 160px;
  min-height: 60px;
  border-radius: 3%;
}

.buttonAndTab > div > .mainButton {
  background-color: #f56c2c;
}

.buttonAndTab > div {
  display: grid;
  gap: 150px;
}

.mainButton > span {
  z-index: 1;
}

.divMainButton {
  min-width: 160px;
  min-height: 60px;
  border: 2px solid black;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: inherit;
  transition: transform 200ms;
  z-index: 0;
}

.buttonAndTab > div > .mainButton > .divMainButton {
  border: none;
}

//buttons style (end)

@media all and (max-width: 1006px) {
  .banner-hero-content {
    padding-left: 4rem;
  }
  .banner-hero-content > p {
    width: 90vw;
    padding-right: 5rem;
    font-size: 1rem;
  }
  .banner-hero-container {
    height: 80%;
  }
  .parental-control {
    height: 20%;
  }
  .parental-control-content {
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    flex-basis: 100%;
  }
  .parental-control-title {
    width: 100%;
  }
}
@media all and (max-width: 640px) {
  .prefooter-hero {
    height: fit-content;
    background-size: 100% 80%;
  }

  .banner-hero-container {
    height: 29rem;
    padding: 3rem 1rem 3rem 2rem;
  }
  .parental-control {
    height: 12rem;
  }
}
