<div class="mainHeaderContainer">
  <div class="mainHeader backImgBehaviour">
    <div class="flexCol">
      <div>
        <h1>I nostri strumenti. Le tue regole.</h1>
        <h6>
          Vivi la nostalgia dei Battlefield passati, combinata alla tecnologia
          all'avanguardia di Battlefield 2042, in combattimenti in cui tutto può
          succedere.
        </h6>
        <a class="mainButton" href="https://www.ea.com/it-it/games">
          <span>Scopri di più</span>
          <div class="divMainButton"></div>
        </a>
      </div>
    </div>
  </div>
  <!-- <div class="blackQueue">
      <h1>I nostri strumenti. Le tue regole.</h1>
        <h6>Vivi la nostalgia dei Battlefield passati, combinata alla tecnologia all'avanguardia di Battlefield 2042, in combattimenti in cui tutto può succedere.</h6>
        <a class="mainButton" href="https://www.ea.com/it-it/games">
          <span>Scopri di più</span>
          <div class="divMainButton"></div>
        </a>
    </div> -->

  <div class="bottomMainHeader">
    <h2>Risparmia alla grande* su 3 mesi di EA Play**!</h2>
    <div class="logoAndButton">
      <img
        style="width: 138px"
        src="../../../assets/homePage/mainHeader/ea-play-logo-coral-cta-type-image.svg"
        alt=""
      />
      <a class="mainButton" href="https://www.ea.com/it-it/games">
        <span>Ulteriori informazioni</span>
        <div class="divMainButton"></div>
      </a>
    </div>
  </div>
</div>
