<div class="mainBody flexCol">
  <h3>Giochi in evidenza</h3>
  <div class="grid">
    <a
      href="https://www.ea.com/it-it/games/battlefield/battlefield-2042"
      class="backImgBehaviour battleFieldMainBody"
    >
      <div class="rgbaBackground"></div>
      <div class="appendBackgr"></div>
      <div class="title">
        <img src="../../../../assets/homePage/main/playButtons/bt.png" alt="" />
      </div>
    </a>
    <a
      href="https://www.ea.com/it-it/games/fifa/fifa-22"
      class="backImgBehaviour FIFA22MainBody"
    >
      <div class="rgbaBackground"></div>
      <div class="appendBackgr"></div>
      <div class="title">
        <img
          src="../../../../assets/homePage/main/playButtons/fifa22-mono-logo_aside.svg"
          alt=""
        />
      </div>
    </a>
    <a
      href="https://www.ea.com/it-it/games/f1/f1-2021"
      class="backImgBehaviour FI21MainBody"
    >
      <div class="rgbaBackground"></div>
      <div class="appendBackgr"></div>
      <div class="title">
        <img
          src="../../../../assets/homePage/main/playButtons/f1-2021-mono-logo.svg"
          alt=""
        />
      </div>
    </a>
    <a
      href="https://www.ea.com/it-it/games/need-for-speed/need-for-speed-hot-pursuit-remastered"
      class="backImgBehaviour NfSHPMainBody"
    >
      <div class="rgbaBackground"></div>
      <div class="appendBackgr"></div>
      <div class="title">
        <img
          src="../../../../assets/homePage/main/playButtons/nfshpr-logo-white.png"
          alt=""
        />
      </div>
    </a>
    <a
      href="https://www.ea.com/it-it/games/apex-legends"
      class="backImgBehaviour ApexLegendsMainBody"
    >
      <div class="rgbaBackground"></div>
      <div class="appendBackgr"></div>
      <div class="title">
        <img
          src="../../../../assets/homePage/main/playButtons/apex-legends-mono-logo.svg"
          alt=""
        />
      </div>
    </a>
    <a
      href="https://www.ea.com/it-it/games/the-sims/the-sims-4"
      class="backImgBehaviour theSims4MainBody"
    >
      <div class="rgbaBackground"></div>
      <div class="appendBackgr"></div>
      <div class="title">
        <img
          src="../../../../assets/homePage/main/playButtons/the-sims-4-mono-logo.png"
          alt=""
        />
      </div>
    </a>
  </div>
  <a class="mainButton" href="https://www.ea.com/it-it/games">
    <span>Ultimi giochi</span>
    <div class="divMainButton"></div>
  </a>
</div>
