@import "include-media";
@import "./scss/style-HomePage-headerNavBar";
@import "./scss/style-HomePage";
@import "./scss/styleGuide-submitButtons";
@import "./scss/styleGuide-tipography";

// @import "./scss/style-HomePage-cards";
// @import "./scss/style-HomePage-footer";
// @import "./scss/style-HomePage-footer_tipography";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$breakpoints: (
  tablet: 1455px,
  phone: 1031px,
);
