<div class="flexCol centralSect">
  <h3>Ultime novità</h3>

  <div class="cards">
    <div class="maintab">
      <div>
        <div class="mainNavButt">
          <div data-info="news" class="cover"></div>
          <button
            class="tablink"
            tabindex="-1"
            aria-selected="false"
            role="tab"
          >
            <span> Notizie EA </span>
          </button>
        </div>
        <div class="mainNavButt">
          <div data-info="play" class="cover"></div>
          <button
            type="button"
            class="tablink"
            tabindex="-1"
            aria-selected="false"
            role="tab"
          >
            <span> EA Play </span>
          </button>
        </div>
        <div class="mainNavButt">
          <div data-info="fifa" class="cover"></div>
          <button
            type="button"
            class="tablink"
            tabindex="-1"
            aria-selected="false"
            role="tab"
          >
            <span> FIFA </span>
          </button>
        </div>
        <div class="mainNavButt">
          <div data-info="apex" class="cover"></div>
          <button
            type="button"
            class="tablink"
            tabindex="-1"
            aria-selected="false"
            role="tab"
          >
            <span> Apex Legends </span>
          </button>
        </div>
        <div class="mainNavButt">
          <div data-info="battlefield" class="cover"></div>
          <button
            type="button"
            class="tablink"
            tabindex="-1"
            aria-selected="false"
            role="tab"
          >
            <span> Battlefield </span>
          </button>
        </div>
        <div class="mainNavButt">
          <div data-info="theSims" class="cover"></div>
          <button
            type="button"
            class="tablink"
            tabindex="-1"
            aria-selected="false"
            role="tab"
          >
            <span> The Sims 4 </span>
          </button>
        </div>
        <div class="mainNavButt">
          <div data-info="f1" class="cover"></div>
          <button
            type="button"
            class="tablink"
            tabindex="-1"
            aria-selected="false"
            role="tab"
          >
            <span> F1 2021 </span>
          </button>
        </div>
        <div class="mainNavButt">
          <div data-info="insideEA" class="cover"></div>
          <button
            type="button"
            class="tablink"
            tabindex="-1"
            aria-selected="false"
            role="tab"
          >
            <span> Inside EA </span>
          </button>
        </div>
      </div>
    </div>
    <section data-info="news" class="buttonAndTab">
      <a
        href="https://www.ea.com/it-it/security/news/log4j-vulnerability"
        class="tab"
      >
        <img
          src="../../../assets/homePage//main/cards/news/ea-featured-tile-generic-electronic-arts.png.adapt.crop16x9.431p.png"
          alt=""
        />
        <div>
          <span id="topic"> Electronic Arts Inc.</span>
          <span> 15-dic-2021</span>
          <h3>
            I client di Origin ed EA Desktop non sono stati colpiti dalla
            vulnerabilità...
          </h3>
          <p>
            Alla fine della scorsa settimana è stata resa nota una vulnerabilità
            estremamente grave nella sicurezza della popolare libreria di
            registrazione basata su Java "Log4j2" (CVE-2021-44228, alias
            "Log4Shell")
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/the-sims/the-sims-freeplay/news/simguru-spotlight-freeplay-interviews"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/news/simguru.jpg"
          alt=""
        />
        <div>
          <span id="topic">Electronic Arts Inc.</span>
          <span> 9-dic-2021</span>
          <h3>Riflettore sui SimGuru: le interviste di FreePlay</h3>
          <p>
            Rispondiamo alle tue domande mentre festeggiamo il nostro decimo
            compleanno!
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/news/party-of-the-decade-update"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/news/tsfp-u79-partyofthedecade-1920x1080.jpg.adapt.crop16x9.431p.jpg"
          alt=""
        />
        <div>
          <span id="topic"> The Sims&#8482;FreePlay</span>
          <span> 16-nov-2021</span>
          <h3>Aggiornamento Festa del decennale</h3>
          <p>
            Ti invitiamo a festeggiare il Natale ed il nostro 10mo compleanno
            con noi!
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/news/sharing-our-2021-impact-report"
        class="tab"
      >
        <img
          src="../../../assets/homePage//main/cards/news/ea-featured-tile-generic-electronic-arts.png.adapt.crop16x9.431p.png"
          alt=""
          style="overflow: hidden"
        />
        <div>
          <span id="topic"> Electronic Arts Inc.</span>
          <span> 16-nov-2021</span>
          <h3>Condividiamo il nostro rapporto sull'impatto del 2021</h3>
          <p>
            I nostri impegni e progressi nella diversità, la creazione di
            community più sane, la sostenibilità e molto antro
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/news/sharing-our-2021-impact-report"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/news/featured-image-battlefield-2042-launch-article.jpg.adapt.crop16x9.431p.jpg"
          alt=""
        />
        <div>
          <span id="topic"> Battlefield 2042</span>
          <span> 10-nov-2021</span>
          <h3>Briefing Batterfield: preparatevi all'uscita</h3>
          <p>Preparatevi all'uscita di Battlefield 2042</p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/inside-ea/news/positive-play-accessibility-and-inclusion"
        class="tab"
      >
        <img
          src="../../../assets/homePage//main/cards/news/ea-featured-tile-generic-electronic-arts.png.adapt.crop16x9.431p.png"
          alt=""
        />
        <div>
          <span id="topic"> Electronic Arts Inc.</span>
          <span> 27-ott-2021</span>
          <h3>
            Rafforzare il nostro impegno in materia di accessibilità e
            inclusione
          </h3>
          <p>
            Per ispirare il mondo a giocare, dobbiamo creare storie, personaggi,
            esperienze e servizi che entrino in risonanza con tutti i giocatori
          </p>
        </div>
      </a>
    </section>
    <section data-info="play" class="buttonAndTab">
      <a
        href="https://www.ea.com/it-it/ea-play/news/mass-effect-legendary-edition-ea-play-pro"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/EAPlay/eaPlay.jpg"
          alt=""
        />
        <div>
          <span id="topic">Electronic Arts Inc.</span>
          <span> 14-mag-2021</span>
          <h3>
            Gioca a Mass Effect<sup>&#8482;</sup> Legendary Edition con EA Play*
            Pro
          </h3>
          <p>
            Vivi la saga cinematografica ora rimasterizzata e ottimizzata per il
            4K Ultra HD
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/fifa/fifa-21/news/get-more-fifa21-with-ea-play"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/EAPlay/fifa.png"
          alt=""
          style="overflow: hidden"
        />
        <div>
          <span id="topic">FIFA</span>
          <span> 3-mag-2021</span>
          <h3>
            Ottieni di più da FIFA 21 con EA Play - Sito ufficiale EA SPORTS
          </h3>
          <p>FIFA 21 è ora disponibile in The Play List con EA Play.</p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/ea-play/news/ea-play-spotlight-april2021"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/EAPlay/eaPlay.jpg"
          alt=""
        />
        <div>
          <span id="topic">Electronic Arts Inc.</span>
          <span> 1-apr-2021</span>
          <h3>In evidenza su EA Play - Aprile 2021</h3>
          <p>
            Scopri le nuove ricompense e i giochi ora disponibili con il tuo
            abbonamento EA Play
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/ea-play/news/ea-desktop-open-beta"
        class="tab"
      >
        <img src="../../../assets/homePage/main/cards/EAPlay/xBox.jpg" alt="" />
        <div>
          <span id="topic">Electronic Arts Inc.</span>
          <span> 18-mar-2021</span>
          <h3>
            EA Play è ora disponibile su Xbox Game Pass per PC tramite l'app EA
            Desktop
          </h3>
          <p>
            EA Desktop, la nostra piattaforma PC di nuova generazione, è in fase
            di open beta. Stiamo unendo le nostre forza con Xbox per offrire più
            giochi agli utenti PC
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/ea-play/news/ea-play-spotlight-march2021"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/EAPlay/eaPlay.jpg"
          alt=""
        />
        <div>
          <span id="topic">Electronic Arts Inc.</span>
          <span> 1-mar-2021</span>
          <h3>In evidenza su EA Play - Marzo 2021</h3>
          <p>
            Scopri le nuove ricompense e i giochi ora disponibili con il tuo
            abbonameto EA Play o EA Play Pro.
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/ea-play/news/ea-play-next-up-spring2021"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/EAPlay/eaPlay.jpg"
          alt=""
        />
        <div>
          <span id="topic">Electronic Arts Inc.</span>
          <span> 25-feb-2021</span>
          <h3>EA Play - Prossimamente in The Play List - Primavera 2021</h3>
          <p>
            Scopri tutto sui nuovi giochi in arrivo su EA Play o EA Play Pro.
          </p>
        </div>
      </a>
    </section>
    <section data-info="fifa" class="buttonAndTab">
      <a
        href="https://www.ea.com/it-it/games/fifa/fifa-22/news/pitch-notes-fifa-22-account-takeover-update"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/FIFA/thePitchNotes.png"
          alt=""
        />
        <div>
          <span id="topic">FIFA</span>
          <span> 11-gen-2021</span>
          <h3>
            FIFA 22 | Note degli sviluppatori - Aggiornamento violazione account
            -EA S...
          </h3>
          <p>
            Aggiornamento sull'indagine riguardante i tentativi di violazione
            degli account FIFA, inclusi i provvedimenti adottati per aumentare
            le misure di sicurezza degli Account EA
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/fifa/fifa-22/news/fut-22-headliners"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/FIFA/fut22-headliners.jpg"
          alt=""
          style="overflow: hidden"
        />
        <div>
          <span id="topic">FIFA</span>
          <span> 31-dic-2021</span>
          <h3>Protagonisti FUT 22 - FIFA 22 Ultimate Team - EA SPORTS</h3>
          <p>
            Celebra i giocatori più in forma del momento con i Protagonisti in
            FIFA 22 Ultimate Team!
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/news/sharing-our-2021-impact-report"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/FIFA/fut22-winterwildcards.jpg"
          alt=""
        />
        <div>
          <span id="topic">FIFA</span>
          <span> 17-dic-2021</span>
          <h3>
            Jolly invernali FUT - FIFA 22 Ultimate Team - Sito ufficiale EA
            SPORTS
          </h3>
          <p>Presentazione dei Jolly invernali in FIFA 22 Ultimate Team!</p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/fifa/fifa-22/news/pitch-notes-fifa-22-holiday-guide"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/FIFA//thePitchNotes.png"
          alt=""
        />
        <div>
          <span id="topic">FIFA</span>
          <span> 14-dic-2021</span>
          <h3>
            FIFA 22 | Note degli sviluppatori - Guida delle feste per giocatori
            nuovi e...
          </h3>
          <p>
            Sia che ti appresti a iniziare FIFA 22 durante le feste, sia che
            desideri solo rispolverare alcuni concetti, queste Note degli
            sviluppatori ti guideranno alla scoperta delle ultime novità dentro
            e fuori dal gioco.
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/fifa/fifa-22/news/fut-versus"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/FIFA/f22-fut-article-featured.jpg"
          alt=""
        />
        <div>
          <span id="topic">FIFA</span>
          <span> 10-dic-2021</span>
          <h3>FUT Versus - FIFA 22 Ultimate Team - EA SPORTS</h3>
          <p>
            Ti diamo il benvenuto a FUT Versus in FIFA 22 Ultimate Team, dove i
            rivali in campo si scontreranno in una sfida epocale per decidere il
            migliore.
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/fifa/fifa-22/news/fut-team-of-the-group-stage"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/FIFA/fifa22-totgs-team.png"
          alt=""
        />
        <div>
          <span id="topic">FIFA</span>
          <span> 3-dic-2021</span>
          <h3>
            Squadra della fase a gironi FUT - TOTGS FIFA 22 Ultimate Team - EA
            SPORTS
          </h3>
          <p>
            Scopri chi è entrato nella rosa della Squadra della fase a gironi e
            le relative valutazioni in FIFA 22 Ultimate Team
          </p>
        </div>
      </a>
    </section>
    <section data-info="apex" class="buttonAndTab">
      <a
        href="https://www.ea.com/it-it/games/apex-legends/news/dark-depths-event"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/apex/dark-depths.jpg"
          alt=""
        />
        <div>
          <span id="topic">Apex Legends</span>
          <span> 6-gen-2022</span>
          <h3>Scopri Habitat e molto altro ancora nell'evento Abissi oscuri</h3>
          <p>
            Dall'11 gennaio all'1 febbraio esplora le profondità dei mari
            nell'evento Abissi oscuri. Goditi una nuova mappa, ricompense ed
            eventi flash!
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/apex-legends/news/sfto-gridiron"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/apex/bangalore.jpg"
          alt=""
          style="overflow: hidden"
        />
        <div>
          <span id="topic">Apex Legends</span>
          <span> 16-nov-2021</span>
          <h3>APEX LEGENDS | STORIE DI FRONTIERA: "GRIDIRON"</h3>
          <p>
            Guarda l'ultimo episodio della serie Storie di Frontiera: "Gridiron"
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/apex-legends/news/prime-gaming-bundle-loba-rose-gold"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/apex/prime-gaming-loba.jpg"
          alt=""
        />
        <div>
          <span id="topic">Apex Legends</span>
          <span> 16-dic-2021</span>
          <h3>Ruba la scena con il nuovo bundle di Prime Gaming per Loba</h3>
          <p>
            Riscatta la skin Oro rosa per Loba e molto altro dal 16 dicembre al
            119 gennaio. E' gratis con Prime Gaming!
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/apex-legends/news/holiday-gift-guide-2021"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/apex/holiday-2020-gift.jpg"
          alt=""
        />
        <div>
          <span id="topic">Apex Legends</span>
          <span> 6-dic-2021</span>
          <h3>Guida ai regali di Apex Legends 2021</h3>
          <p>
            Cerchi dei regali leggendari per le persone che ami? Dai un'occhiata
            alla guida ai regali di Apex Legends!
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/apex-legends/news/playoffs-update"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/apex/apex2-0-playoffs.jpg"
          alt=""
        />
        <div>
          <span id="topic">Apex Legends</span>
          <span> 3-dic-2021</span>
          <h3>AGLS - Aggiornamento playoff Fase 1</h3>
          <p>
            In linea con le nuove misure internazionali per contrastare la
            diffusione del coronavirus, la competizione passerà al formato
            online
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/apex-legends/news/raiders-collection-event"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/apex/apex-raiders.jpg"
          alt=""
        />
        <div>
          <span id="topic">Apex Legends</span>
          <span> 2-dic-2021</span>
          <h3>Conquista il Winter Express nell'evento collezione Predoni</h3>
          <p>
            Dal 7 al 21 dicembre, gioca in modalità Winter Express, colleziona
            gli oggetti cosmetici dell'evento e sblocca il cimelio di Wattson!
          </p>
        </div>
      </a>
    </section>
    <section data-info="battlefield" class="buttonAndTab">
      <a
        href="https://www.ea.com/it-it/games/battlefield/battlefield-2042/news/battlefield-2042-update-notes-4"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/battlefield/bf-2042.jpg"
          alt=""
        />
        <div>
          <span id="topic">Battlfield 2042</span>
          <span> 8-dic-2021</span>
          <h3>AGGIORNAMENTO № 3.1 DI BATTLEFIELD™ 2042</h3>
          <p>
            Miglioramenti al bilanciamento dei veicoli, modifiche per le armi e
            ulteriori correzioni di bug.
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/battlefield/battlefield-2042/news/battlefield-2042-update-notes-3"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/battlefield/bf-2042-featured2.jpg"
          alt=""
          style="overflow: hidden"
        />
        <div>
          <span id="topic">Battlefield 2042</span>
          <span> 1-dic-2021</span>
          <h3>AGGIORNAMENTO № 3 DI BATTLEFIELD™ 2042</h3>
          <p>
            Correzione di ulteriori errori, modifiche al bilanciamento e
            miglioriamenti per l'esperienza di gioco
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/battlefield/battlefield-2042/news/battlefield-2042-update-notes-2"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/battlefield/bf-2042-featured3.jpg"
          alt=""
        />
        <div>
          <span id="topic">Battlefield 2042</span>
          <span> 24-nov-2021</span>
          <h3>AGGIORNAMENTO № 2 DI BATTLEFIELD 2042</h3>
          <p>
            Correzione di altri problemi critici e bilanciamento dopo l'uscita
            internazionale
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/battlefield/battlefield-2042/news/battlefield-briefing-launch-update-and-the-road-ahead"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/battlefield/featrured-future..jpg"
          alt=""
        />
        <div>
          <span id="topic">Battlefield 2042</span>
          <span> 23-nov-2021</span>
          <h3>Briefing su Battlefield: aggiornamento di lancio e il futuro</h3>
          <p>Un aggiornamento sui nostri obiettivi per i prossimi mesi</p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/news/ea-discord-rich-presence"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/battlefield/bf-2042-featured.jpg"
          alt=""
        />
        <div>
          <span id="topic">Battlefield 2042</span>
          <span> 17-nov-2021</span>
          <h3>Aggiornamento n°1 di Battlefield 2042</h3>
          <p>Risolvere problemi critici prima dell'uscita internazionale</p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/battlefield/battlefield-2042/news/battlefield-briefing-get-ready-for-launch"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/battlefield/featured-image-battlefield-2042-launch-article.jpg.adapt.crop16x9.431p.jpg"
          alt=""
        />
        <div>
          <span id="topic">Battlefield 2042</span>
          <span> 10-nov-2021</span>
          <h3>Briefing Battlefield: preparatevi all'uscita</h3>
          <p>Preparatevi all'uscita di Battlefield 2042</p>
        </div>
      </a>
    </section>
    <section data-info="theSims" class="buttonAndTab">
      <a
        href="https://www.ea.com/it-it/games/the-sims/the-sims-4/news/find-yourselves"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/theSims/esp-012-1.jpg"
          alt=""
        />
        <div>
          <span id="topic"> The Sims 4</span>
          <span> 1-dic-2021</span>
          <h3>Trovate i tanti voi stessi in The Sims™ con Bretman Rock</h3>
          <p>Trovate voi stessi e siate voi stessi, fino in fondo</p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/the-sims/the-sims-4/news/update-11-30-2021"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/theSims/ts4-grid-tile-patch.jpg"
          alt=""
          style="overflow: hidden"
        />
        <div>
          <span id="topic">The Sims 4</span>
          <span> 30-nov-2021</span>
          <h3>Aggiornamento: 30/11/2021</h3>
          <p>E' il momento più magico... per un aggiornamento del gioco!</p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/the-sims/the-sims-4/news/sims-411-recap-nov-23-2021"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/theSims/sims-04-27.jpg"
          alt=""
        />
        <div>
          <span id="topic">The Sims 4</span>
          <span> 24-nov-2021</span>
          <h3>Riepilogo delle novità di The Sims</h3>
          <p>Dentro Maxis - 23/11/2021</p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/the-sims/the-sims-4/news/introducing-neighborhood-stories"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/theSims/neighbourhood.png"
          alt=""
        />
        <div>
          <span id="topic">The Sims 4</span>
          <span> 23-nov-2021</span>
          <h3>Blog delle storie di quartiere di The Sims™ 4</h3>
          <p>Infondere nuova vita nel quartiere</p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/the-sims/the-sims-4/news/modern-menswear"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/theSims/ts4-sp28.png"
          alt=""
        />
        <div>
          <span id="topic">The Sims 4</span>
          <span> 17-nov-2021</span>
          <h3>Ridefinire i classici londinesi</h3>
          <p>Scopri nuovi stili con The Sims 4 Modern Menswear Kit</p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/the-sims/the-sims-4/news/laundry-list-november-16-2021"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/theSims/port-of-marriage.png"
          alt=""
        />
        <div>
          <span id="topic">The Sims 4</span>
          <span> 16-nov-2021</span>
          <h3>Cose da fare - 16 novembre 2021</h3>
          <p>Cose da fare.</p>
        </div>
      </a>
    </section>
    <section data-info="f1" class="buttonAndTab">
      <a
        href="https://www.ea.com/it-it/games/f1/f1-2021/news/f1-2021-final-driver-ratings-update"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/F1/f1-2021-featured.jpg"
          alt=""
        />
        <div>
          <span id="topic">F1® 2021</span>
          <span> 12-gen-2022</span>
          <h3>F1® 2021 - Aggiornamento finale delle valutazioni dei piloti</h3>
          <p>
            Dopo 22 gare di strabiliante azione, è il momento di aggiornare le
            valutazioni dei piloti di F1® 2021 per l'ultima volta
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/f1/f1-2021/news/f1-2021-final-race-prediction"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/F1/pj-f121.jpg"
          alt=""
          style="overflow: hidden"
        />
        <div>
          <span id="topic">F1® 2021</span>
          <span> 10-dic-2021</span>
          <h3>F1® 2021 - Previsione del risultato della gara finale</h3>
          <p>
            Scopri quale dei due aspiranti al titolo avrà la meglio durante la
            simulazione della gara finale a Yas Marina in F1® 2021.
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/f1/f1-2021/news/f1-2021-driver-ratings-qatargp"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/F1/f1-2021-featured2.jpg"
          alt=""
        />
        <div>
          <span id="topic">F1® 2021</span>
          <span> 6-dic-2021</span>
          <h3>F1® 2021 - Aggiornamento delle valutazioni dei piloti</h3>
          <p>
            E' il momento di aggiornare le valutazioni dei piloti mentre ci
            avviciniamo al rush finale del campionato
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/f1/f1-2021/news/f1-2021-f2-2021-update"
        class="tab"
      >
        <img src="../../../assets/homePage/main/cards/F1/pj-f121.png" alt="" />
        <div>
          <span id="topic">F1® 2021</span>
          <span> 6-dic-2021</span>
          <h3>F1® 2021 - Aggiornamento F2™ 2021</h3>
          <p>
            Prova le squadre, la auto e i piloti della stagione 2021 di F2<sup
              >TM</sup
            >
            nel nostro aggiornamento gratuito
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/f1/f1-2021/news/f1-2021-patch-114-notes"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/F1/pj-f121221.png"
          alt=""
        />
        <div>
          <span id="topic">F1® 2021</span>
          <span> 6-dic-2021</span>
          <h3>F1® 2021 - Note sulla patch 1.14</h3>
          <p>Scopri di più sull'ultima patch</p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/games/f1/f1-2021/news/f1-2021-podium-pass-series-3"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/F1/f1-2021-podium-pass.jpg"
          alt=""
        />
        <div>
          <span id="topic">F1® 2021</span>
          <span> 17-nov-2021</span>
          <h3>Pass Podio Serie 3: una serie molto speciale</h3>
          <p>
            Gareggia con stile con gli oggetti ideati da Daniel Ricciardo e
            George Russel
          </p>
        </div>
      </a>
    </section>
    <section data-info="insideEA" class="buttonAndTab">
      <a
        href="https://www.ea.com/it-it/inside-ea/news/firemonkeys-studio-celebrates-10-years-of-the-sims-freeplay"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/insideEA/sfp-insideea.jpg"
          alt=""
        />
        <div>
          <span id="topic">Inside EA</span>
          <span> 13-gen-2022</span>
          <h3>
            Firemonkeys Studio di EA festeggia i 10 anni di The Sims FreePlay
          </h3>
          <p>
            Tutto è cominciato realizzando The Sims per dispositivi mobili: da
            allora è diventato uno dei titoli preferiti della serie
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/inside-ea/news/inside-full-circle-melvin-teo"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/insideEA/fullcircle-artic.png"
          alt=""
          style="overflow: hidden"
        />
        <div>
          <span id="topic">Inside EA</span>
          <span> 16-dic-2021</span>
          <h3>Dentro Full Circle – Melvin Teo, produttore di skate.</h3>
          <p>
            Scopri di più sullo studio Full Circle con melvin Teo, produttore di
            skate.
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/inside-ea/news/able-celebrates-ndeam-2021"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/insideEA/ea-able-inclusion.jpg"
          alt=""
        />
        <div>
          <span id="topic">Inside EA</span>
          <span> 2-nov-2021</span>
          <h3>
            ABLE festeggia il mese nazionale di sensibilizzazione
            sull'occupazione per …
          </h3>
          <p>
            E' il momento di educare sui problemi di handicap e celebrare i
            numerosi e variegati contributi dei lavoratori con disabilità
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/inside-ea/news/positive-play-accessibility-and-inclusion"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/insideEA/ea-featured-tile-generic-electronic-arts.png.adapt.crop16x9.431p.png"
          alt=""
        />
        <div>
          <span id="topic">Inside EA</span>
          <span> 27-ott-2021</span>
          <h3>
            Rafforzare il nostro impegno in materia di accessibilità e
            inclusione
          </h3>
          <p>
            Per ispirare il mondo a giocare, dobbiamo creare storie, personaggi,
            esperienze e servizi che entrino in risonanza con tutti i giocatori
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/inside-ea/news/juntos-stronger-together"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/insideEA/eacom-juntos.jpg"
          alt=""
        />
        <div>
          <span id="topic">Inside EA</span>
          <span> 15-ott-2021</span>
          <h3>Juntos: Insieme più forti</h3>
          <p>
            Festeggiamo e supportiamo i dipendenti e i giocatori EA
            ispanici/latini
          </p>
        </div>
      </a>
      <a
        href="https://www.ea.com/it-it/news/using-our-patents-to-drive-positive-play"
        class="tab"
      >
        <img
          src="../../../assets/homePage/main/cards/insideEA/positivePlay.png"
          alt=""
        />
        <div>
          <span id="topic">Inside EA</span>
          <span> 25-ago-2021</span>
          <h3>I nostri brevetti a favore del gioco positivo</h3>
          <p>
            Annunciamo un nuovo impegno in materia di brevetti, con l'obbiettivo
            di condividere alcune delle tecnologie più innovative.
          </p>
        </div>
      </a>
    </section>
  </div>
  <a class="mainButton" href="https://www.ea.com/it-it/news">
    <span>Più dettagli</span>
    <div class="divMainButton"></div>
  </a>
</div>
