@import "include-media";

$breakpoints: (
  desktop: 1455px,
  tablet: 1031px,
  middlepoint: 1186px,
  handheld: 1023px,
  phone: 767px,
);

h3 {
  font-size: 2.2rem;
  font-weight: 800;
}

.maintab {
  display: flex;
  border-bottom: 2px solid #dedede;
  width: 100%;
  margin-bottom: 70px;
  justify-content: center;
}

.maintab > div {
  width: 1140px;
  display: flex;
  justify-content: flex-start;
}

.mainNavButt {
  height: 60px;
  margin-left: 2px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  & > .cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
  }
}

.mainNavBackground {
  background-color: #dedede;
  & > button {
    color: #676767;
    & > span {
      transition: 50ms;
    }
  }
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.buttonAndTab {
  @include media(">=middlepoint") {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, fit-content);
    max-width: 1100px;
    gap: 17px;
  }
  @include media("<=middlepoint") {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, fit-content);
    gap: 17px;
  }
  @include media("<=phone") {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, fit-content);
    gap: 17px;
  }
}

.buttonAndTab h3 {
  font-size: 22px;
  padding: 5px;
}
.buttonAndTab p {
  padding: 5px;
  font-size: 16px;
}
.buttonAndTab span {
  font-size: 14px;
  font-weight: 600;
}
#topic {
  color: #ff4747;
  font-weight: 600;
}

.tab {
  div > div {
    padding: 0;
  }
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: transform 300ms ease-out;
  background-color: white;
  @include media("<=handheld") {
    text-align: center;
    div > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    width: 100%;
    img,
    p {
      display: none;
    }
  }
}

.tab::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 30px 20px 0 rgba(0, 0, 0, 0.5);
  opacity: var(--opacity, 0);
  transition: opacity 500ms;
}

.tab div {
  width: 1fr;
  padding: 24px;
  line-height: 27px;
}

.tab img {
  width: 100%;
}

.centralSect {
  //   margin: 10rem auto;
  margin-top: 10rem;
}

.tablink {
  width: max-content;
  height: 30px;
  font-size: 18px;
  background-color: transparent;
  color: #070707;
  margin-right: -2px;
  padding: 0 1rem;
  border-right: 2px solid #dedede;
  cursor: pointer;
}

.tablink > span {
  display: inline-block;
  height: 45px;
}

.mainButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 160px;
  min-height: 60px;
  border-radius: 3%;
}

.buttonAndTab > div {
  display: grid;
  gap: 150px;
}

.mainButton > span {
  z-index: 1;
}

.divMainButton {
  min-width: 160px;
  min-height: 60px;
  border: 2px solid black;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: inherit;
  transition: transform 200ms;
  z-index: 0;
}

.buttonAndTab > div > .mainButton > .divMainButton {
  border: none;
}
